@model NStore.Models.EF.NhomDanhMuc

@{
    ViewBag.Title = "Xóa";
}

<h3>Bạn có chắc muốn xóa nhóm danh mục?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenNhomDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenNhomDanhMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>

        <dd>
            <img src="~/assets/images/category/@Model.img" alt="??" width="35%" />
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
