@model NStore.Models.EF.SanPham

@{
    ViewBag.Title = "Xóa";
}

<h3>Bạn có chắc muốn xóa sản phẩm?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DanhMuc.tenDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMuc.tenDanhMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>

        <dd>
            <img src="~/assets/images/products/@Model.img" alt="??" width="35%" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kichThuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kichThuoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mauSac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mauSac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chatLieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chatLieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.xuatXu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.xuatXu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.donGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giamGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giamGia)%
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soLuongTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuongTon)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
