@model NStore.Models.EF.PhieuXuat

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<a href="/Admin/PhieuNhap/Create" style="margin:20px 500px">
    <input type="button" value="Phiếu nhập" />

</a>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal ">
    <h4>Phiếu nhập</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.idNhanVien, "Nhân viên", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idNhanVien", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idNhanVien, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2" for="sanpham">sản phẩm</label>
        <div class="col-md-10">

            <select id="sanpham" class="form-control" name="sanpham"></select>
        </div>

    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="soluong">Số lượng</label>
        <div class="col-md-10">
            <input class="form-control" name="soluong" type="number" min="0" step="1" value="1" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
        </div>

    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ngayXuat, "Ngày xuất", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ngayXuat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ngayXuat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group submit_form">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Xuất" class="btn btn-primary my-2" />
        </div>
    </div>
</div>
}
<div>
    @Html.ActionLink("Trở về", "Index")
</div>

@section Scripts {
    <script>

        $.ajax({
            url: '/Admin/PhieuNhap/ViewSanPham',
            method: 'GET',
            success: function (rs) {
                console.log('Thành công')
                var result = $.map(rs, function (item) {
                    return item.soLuongTon > 0 ? `<option value="${item.id}">${item.tenSanPham}</option>` : `<option value="${item.id}"disabled>${item.tenSanPham} hết hàng</option>`
                })
                var html = result.join('');
                $('#sanpham').html(html);
            },
            error: function (e) {
                console.log(e);
            }
        })
    </script>
}
