@model NStore.Models.EF.ChiTietPhieuXuat

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div>
    <h4>Phiếu xuất</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhieuXuat.ngayXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhieuXuat.ngayXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhieuXuat.NhanVien.taiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhieuXuat.NhanVien.taiKhoan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SanPham.tenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanPham.tenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soLuongXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuongXuat)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Trở về", "Index")
</p>
