@model NStore.Models.EF.DonHang

@{
    ViewBag.Title = "Sửa";
}

@section styles{
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>
            Sửa đơn hàng #@Model.id :
            Khách hàng - @Html.ActionLink(Model.KhachHang.hoTen, "Details", "Customer", new { Model.KhachHang.id }, null)
        </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.idKhachHang)
        @Html.HiddenFor(model => model.ngayDatHang)
        @Html.HiddenFor(model => model.ngayGiaoHang)
        @Html.HiddenFor(model => model.hinhThucThanhToan)
        @Html.HiddenFor(model => model.thanhTien)
        @Html.HiddenFor(model => model.trangThaiDonHang)

        <div class="form-group">
            @Html.LabelFor(model => model.diaChiGiaoHang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.diaChiGiaoHang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.diaChiGiaoHang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ghiChu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ghiChu, new { htmlAttributes = new { @class = "form-control", @rows = "5" } })
                @Html.ValidationMessageFor(model => model.ghiChu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.trangThaiThanhToan, "Thanh toán", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("trangThaiThanhToan", null, htmlAttributes: new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.trangThaiThanhToan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật thông tin" class="btn btn-secondary my-2" />
                @switch (Model.trangThaiDonHang)
                {
                    case 1:
                        <button class="btn btn-primary" onclick="UpdateOrderState(@Model.id, @Model.trangThaiDonHang, 2)">Xác nhận đơn hàng</button>
                        break;
                    case 2:
                        <button class="btn btn-primary" onclick="UpdateOrderState(@Model.id, @Model.trangThaiDonHang, 3)">Giao hàng</button>
                        break;
                    case 3:
                        <button class="btn btn-primary" onclick="UpdateOrderState(@Model.id, @Model.trangThaiDonHang, 4)">Hoàn thành</button>
                        break;
                    case 4:
                        <button class="btn btn-primary" onclick="UpdateOrderState(@Model.id, @Model.trangThaiDonHang, 6)">Trả hàng/Hoàn tiền</button>
                        break;
                }
                @switch (Model.trangThaiDonHang)
                {
                    case 1:
                    case 2:
                    case 3:
                        <button class="btn btn-danger" onclick="UpdateOrderState(@Model.id, @Model.trangThaiDonHang, 5)">Huỷ đơn hàng</button>
                        break;
                }
            </div>

        </div>

    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>

@section Scripts {
    <script>
        function UpdateOrderState(id, oldState, newState) {
            $.ajax({
                url: "/Admin/Order/UpdateOrderState",
                method: "POST",
                data: { id, oldState, newState },
                success: function (result) {
                    if (result == 1) window.location = "/Admin/Order/Index";
                    else alert(result);
                },
                error: function () {
                    alert("lỗi");
                }
            })
        }
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
