@model IEnumerable<NStore.Models.EF.SanPham>

@{
    ViewBag.Title = "Kho hàng";
}
@section styles{
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="~/assets/css/admin-table-style.css" />
    <style>
        .nav-tabs .nav-item .nav-link {
            color: #566787;
        }

            .nav-tabs .nav-item .nav-link.active {
                font-weight: bold;
            }

        .table-responsive {
            border: 1px solid #dee2e6;
            border-top-width: 0;
        }
    </style>
}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#tab-all" role="tab" aria-controls="tab-all" aria-selected="true">Tất cả</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="false">Còn hàng (@Model.Where(x=>x.soLuongTon > 0).Count())</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Hết hàng (@Model.Where(x => x.soLuongTon == 0).Count())</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Nhập kho</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">Xuất kho</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="tab-all" role="tabpanel" aria-labelledby="tab-all-tab">
        @Html.Action("RenderInventory", new { q = ViewBag.q })
    </div><!-- .End .tab-pane -->
    <div class="tab-pane fade" id="tab-1" role="tabpanel" aria-labelledby="tab-1-tab">
        @Html.Action("RenderInventory", new { q = ViewBag.q, type = "stock" })
    </div><!-- .End .tab-pane -->
    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2-tab">
        @Html.Action("RenderInventory", new { q = ViewBag.q, type = "out-stock" })
    </div><!-- .End .tab-pane -->
    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3-tab">
        @Html.Action("RenderPhieuNhap", new { q = ViewBag.q })
    </div><!-- .End .tab-pane -->
    <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="tab-4-tab">
        @Html.Action("RenderPhieuXuat", new { q = ViewBag.q })
    </div><!-- .End .tab-pane -->
</div><!-- End .tab-content -->

@section scripts{
    <script>
        var menu = $("#sidenavMenu")[0].querySelectorAll(".nav-link");
        menu.forEach((item) => {
            item.classList.remove("active");
        })
        menu[3].classList.add("active");
    </script>
}