@model IEnumerable<NStore.Models.EF.SanPham>

<table class="table table-striped table-hover table-bordered mb-0">
    <thead>
        <tr>
            <th>
                Sản phẩm
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanhMuc.tenDanhMuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.donGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.giamGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.soLuongTon)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.tenSanPham, "Details", "SanPham", new { item.id }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DanhMuc.tenDanhMuc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.donGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.giamGia)%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.soLuongTon)
                </td>
            </tr>
        }
    </tbody>
</table>