@model IEnumerable<NStore.Models.EF.DonHang>

<table class="table table-striped table-hover table-bordered mb-0">
    <thead>
        <tr>
            <th>
                Mã đơn hàng
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ngayDatHang)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ngayGiaoHang)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.trangThaiDonHang)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.thanhTien)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("#" + item.id, "Details", "Order", new { item.id }, null)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ngayDatHang)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ngayGiaoHang)
                </td>
                <td>
                    @{ string orderState = ""; }
                    @switch (item.trangThaiDonHang)
                    {
                        case 1:
                            orderState = "Chờ xác nhận";
                            break;
                        case 2:
                            orderState = "Chờ lấy hàng";
                            break;
                        case 3:
                            orderState = "Đang giao";
                            break;
                        case 4:
                            orderState = "Đã giao";
                            break;
                        case 5:
                            orderState = "Đơn huỷ";
                            break;
                        case 6:
                            orderState = "Trả hàng";
                            break;
                    }
                    @orderState
                </td>
                <td>
                    @Html.DisplayFor(m => item.thanhTien)
                </td>
            </tr>
        }
    </tbody>
</table>
