@{
    ViewBag.Title = "Trang Chủ";
}

@section styles{
    <style>
        .cat-block img {
            width: 130px;
            border-radius: 10px;
            margin: 10px 0;
        }
    </style>
}

<div class="intro-slider-container">
    <div class="intro-slider owl-carousel owl-simple owl-nav-inside" data-toggle="owl" data-owl-options='{
                        "nav": false,
                        "responsive": {
                            "992": {
                                "nav": true
                            }
                        }
                    }'>
        <div class="intro-slide" style="background-image: url(@Url.Content("~/assets/images/backgrounds/bg-phong-khach.jpg"));">

        </div><!-- End .intro-slide -->

        <div class="intro-slide" style="background-image: url(@Url.Content("~/assets/images/backgrounds/bg-phong-bep.jpg"));">

        </div><!-- End .intro-slide -->

        <div class="intro-slide" style="background-image: url(@Url.Content("~/assets/images/backgrounds/bg-phong-ngu.jpg"));">

        </div><!-- End .intro-slide -->
    </div><!-- End .owl-carousel owl-simple -->

    <span class="slider-loader"></span><!-- End .slider-loader -->
</div><!-- End .intro-slider-container -->

<div class="mb-4"></div><!-- End .mb-2 -->

<div class="container">
    <h2 class="title text-center mb-2">Danh Mục Nổi Bật</h2><!-- End .title -->

    <div class="cat-blocks-container">
        <div class="row">
            @foreach (var item in ViewBag.popularCategory)
            {
                <div class="col-6 col-sm-4 col-lg-2">
                    <a href="@Url.Action("Index", "Product", new { category = item.id })" class="cat-block">
                        <figure>
                            <span>
                                <img src="~/assets/images/category/@item.img" alt="Category image">
                            </span>
                        </figure>

                        <h3 class="cat-block-title text-capitalize">@item.tenDanhMuc</h3><!-- End .cat-block-title -->
                    </a>
                </div><!-- End .col-sm-4 col-lg-2 -->
            }
        </div><!-- End .row -->
    </div><!-- End .cat-blocks-container -->
</div><!-- End .container -->

<div class="mb-2"></div><!-- End .mb-2 -->

<div class="bg-light pt-3 pb-5">
    <div class="container">
        <div class="heading heading-flex heading-border mb-3">
            <div class="heading-left">
                <h2 class="title">Sản Phẩm Nổi Bật</h2><!-- End .title -->
            </div><!-- End .heading-left -->

            <div class="heading-right">
                <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#carousel-product-popular-full" role="tab" aria-controls="carousel-product-popular-full" aria-selected="true">Tất cả</a>
                    </li>
                    @foreach (var item in (ViewBag.popularCategory as IEnumerable<NStore.Models.EF.DanhMuc>).Take(3))
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#carousel-product-popular-@item.id" role="tab" aria-controls="#carousel-product-popular-@item.id" aria-selected="false">@item.tenDanhMuc</a>
                        </li>
                    }
                </ul>
            </div><!-- End .heading-right -->
        </div><!-- End .heading -->

        <div class="tab-content tab-content-carousel">
            <div class="tab-pane p-0 fade show active" id="carousel-product-popular-full" role="tabpanel" aria-labelledby="hot-all-link">
                @Html.Action("RenderProductCarousel", new { type = "popular" })
            </div><!-- .End .tab-pane -->
            @foreach (var item in (ViewBag.popularCategory as IEnumerable<NStore.Models.EF.DanhMuc>).Take(3))
            {
                <div class="tab-pane p-0 fade" id="carousel-product-popular-@item.id" role="tabpanel" aria-labelledby="hot-featured-link">
                    @Html.Action("RenderProductCarousel", new { type = "popular", category = item.id })
                </div><!-- .End .tab-pane -->
            }
        </div><!-- End .tab-content -->
    </div><!-- End .container -->
</div><!-- End .bg-light pt-5 pb-5 -->

<div class="mb-3"></div><!-- End .mb-3 -->

<div class="container electronics">
    <div class="heading heading-flex heading-border mb-3">
        <div class="heading-left">
            <h2 class="title">Sản phẩm mới nhất</h2><!-- End .title -->
        </div><!-- End .heading-left -->

        <div class="heading-right">
            <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#carousel-product-newest-full" role="tab" aria-controls="carousel-product-newest-full" aria-selected="true">Tất cả</a>
                </li>
                @foreach (var item in (ViewBag.popularCategory as IEnumerable<NStore.Models.EF.DanhMuc>).Take(3))
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#carousel-product-newest-@item.id" role="tab" aria-controls="carousel-product-newest-@item.id" aria-selected="false">@item.tenDanhMuc</a>
                    </li>
                }
            </ul>
        </div><!-- End .heading-right -->
    </div><!-- End .heading -->

    <div class="tab-content tab-content-carousel">
        <div class="tab-pane p-0 fade show active" id="carousel-product-newest-full" role="tabpanel" aria-labelledby="elec-new-link">
            @Html.Action("RenderProductCarousel")
        </div><!-- .End .tab-pane -->
        @foreach (var item in (ViewBag.popularCategory as IEnumerable<NStore.Models.EF.DanhMuc>).Take(3))
        {
            <div class="tab-pane p-0 fade" id="carousel-product-newest-@item.id" role="tabpanel" aria-labelledby="elec-featured-link">
                @Html.Action("RenderProductCarousel", new { category = item.id })
            </div><!-- .End .tab-pane -->
        }
    </div><!-- End .tab-content -->
</div><!-- End .container -->

@section scripts{
    <script>
        var menu = $(".main-nav")[0].querySelectorAll("li");
        menu.forEach((item) => {
            item.classList.remove("active");
        })
        menu[0].classList.add("active");

        //$('.intro-slider').owlCarousel({
        //    items: 1,
        //    loop: true,
        //    autoplay: true,
        //    autoplayTimeout: 5000,
        //    autoplaySpeed: 1000,
        //    autoplayHoverPause: true,
        //    nav: true,
        //    dots: false,
        //    responsive: {
        //        992: {
        //            dots: true
        //        }
        //    }
        //});

        //add product to cart
        function AddToCartClick(productId) {
            AddToCart(productId, 1, "add");
        }

        //add product to wishlist
        function AddToWishlist(id) {
            if (isCustomerLogin == 1) {
                $.ajax({
                    url: '/User/Adding_Wishlist',
                    method: 'POST',
                    data: { id_sanpham: id },
                    success: function (rs) {
                        alert(rs)
                    },
                    error: function () {
                        alert("Lỗi thêm vào danh sách ưa thích")
                    }
                })
            } else {
                $("#toggle-signin-modal").click();
            }
        }
    </script>
}