@model IEnumerable<NStore.Models.EF.SanPham>

<div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
     data-owl-options='{
                                "nav": false,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1280": {
                                        "items":5,
                                        "nav": true
                                    }
                                }
                            }'>
    @foreach (var item in Model)
    {
        <div class="product">
            <figure class="product-media">
                @if (item.soLuongTon == 0)
                {
                    <span class="product-label label-out">Đang hết hàng</span>
                }
                @if (item.giamGia > 0)
                {
                    <span class="product-label label-sale">@item.giamGia% Giảm</span>
                }
                <a href="#">
                    <img src="~/assets/images/products/@item.img" alt="Product image" class="product-image">
                </a>

                <div class="product-action-vertical">
                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>Thêm Vào Yêu Thích</span></a>
                </div><!-- End .product-action -->
                <div class="product-action">
                    <button onclick="AddToCartClick(@item.id)" class="btn-product btn-cart"><span>Thêm Vào Giỏ Hàng</span></button>
                </div><!-- End .product-action -->
            </figure><!-- End .product-media -->

            <div class="product-body">
                <div class="product-cat">
                    <a href="@Url.Action("Index", "Product", new { category = item.idDanhMuc })">@item.DanhMuc.tenDanhMuc</a>
                </div><!-- End .product-cat -->
                <h3 class="product-title"><a href="product.html">@item.tenSanPham</a></h3><!-- End .product-title -->
                <div class="product-price">
                    @if (item.giamGia > 0)
                    {
                        <span class="new-price">@Convert.ToInt32(item.donGia - (item.donGia * item.giamGia) / 100).ToString("c")</span>
                        <span class="old-price">@Convert.ToInt32(item.donGia).ToString("c")</span>
                    }
                    else
                    {
                        @Convert.ToInt32(item.donGia - (item.donGia * item.giamGia) / 100).ToString("c")
                    }
                </div><!-- End .product-price -->
            </div><!-- End .product-body -->
        </div><!-- End .product -->

    }
</div><!-- End .owl-carousel -->
