@{
    Html.Action("CheckAuthenticate", "Login");
    var curCustomer = Session["curCustomer"] as NStore.Models.EF.KhachHang;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - NStore</title>
    <meta name="description" content="NStore">
    <meta name="apple-mobile-web-app-title" content="NStore">
    <meta name="application-name" content="NStore">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" href="~/logo-icon.ico" />
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="~/assets/vendor/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="~/assets/css/demos/skin-demo-13.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/demos/demo-13.css">
    <link rel="stylesheet" href="~/assets/css/layout.css">

    <link rel="stylesheet" href="~/assets/css/plugins/nouislider/nouislider.css">
    <style>
        .banner-cats {
            background: no-repeat center / cover;
            min-height: 440px;
        }

        .header-search-wrapper .form-control {
            padding: 1.2rem;
        }
    </style>
</head>
<body>
    <div class="page-wrapper">
        <header class="header header-10 header-intro-clearance">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <div class="hotline">
                            <a href="tel:#"><i class="icon-phone"></i>Hotline: 0388172633</a>
                        </div>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <a href="#signin-modal" data-toggle="modal">Đăng Nhập / Đăng Ký</a>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="@Url.Action("Index", "Home")" class="logo">
                            <img src="~/assets/images/demos/demo-13/logo.png" alt="NStore Logo" width="110">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <div class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Tìm kiếm sản phẩm..." required>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>

                    <div class="header-right">
                        <div class="header-dropdown-link">
                            @if (curCustomer != null)
                            {
                                <a href="#" class="wishlist-link">
                                    <i class="icon-heart-o"></i>
                                    <span class="wishlist-count">@curCustomer.SanPhamYeuThich.Count</span>
                                    <span class="wishlist-txt">Yêu Thích</span>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Index", "Login")" class="wishlist-link">
                                    <i class="icon-heart-o"></i>
                                    <span class="wishlist-txt">Yêu Thích</span>
                                </a>
                            }
                            @if (curCustomer != null)
                            {
                                <div class="dropdown cart-dropdown">
                                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                        <i class="icon-shopping-cart"></i>
                                        <span class="cart-count">@curCustomer.GioHang.Count</span>
                                        <span class="cart-txt">Giỏ Hàng</span>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <div class="dropdown-cart-products">
                                            <div class="product">
                                                <div class="product-cart-details">
                                                    <h4 class="product-title">
                                                        <a href="product.html">Beige knitted elastic runner shoes</a>
                                                    </h4>

                                                    <span class="cart-product-info">
                                                        <span class="cart-product-qty">1</span>
                                                        x $84.00
                                                    </span>
                                                </div><!-- End .product-cart-details -->

                                                <figure class="product-image-container">
                                                    <a href="product.html" class="product-image">
                                                        <img src="~/assets/images/products/cart/product-1.jpg" alt="product">
                                                    </a>
                                                </figure>
                                            </div><!-- End .product -->

                                            <div class="product">
                                                <div class="product-cart-details">
                                                    <h4 class="product-title">
                                                        <a href="product.html">Blue utility pinafore denim dress</a>
                                                    </h4>

                                                    <span class="cart-product-info">
                                                        <span class="cart-product-qty">1</span>
                                                        x $76.00
                                                    </span>
                                                </div><!-- End .product-cart-details -->

                                                <figure class="product-image-container">
                                                    <a href="product.html" class="product-image">
                                                        <img src="~/assets/images/products/cart/product-2.jpg" alt="product">
                                                    </a>
                                                </figure>
                                            </div><!-- End .product -->
                                        </div><!-- End .cart-product -->

                                        <div class="dropdown-cart-total">
                                            <span>Tổng</span>

                                            <span class="cart-total-price">160.000đ</span>
                                        </div><!-- End .dropdown-cart-total -->

                                        <div class="dropdown-cart-action">
                                            <a href="cart.html" class="btn btn-primary">Xem Giỏ Hàng</a>
                                        </div><!-- End .dropdown-cart-total -->
                                    </div><!-- End .dropdown-menu -->
                                </div><!-- End .cart-dropdown -->
                            }
                            else
                            {
                                <a href="@Url.Action("Index", "Login")" class="wishlist-link">
                                    <i class="icon-shopping-cart"></i>
                                    <span class="cart-txt">Giỏ Hàng</span>
                                </a>
                            }

                            @if (curCustomer != null)
                            {
                                <a href="dashboard.html" class="wishlist-link">
                                    <i class="icon-user"></i>
                                    <span class="wishlist-txt">Tài Khoản</span>
                                </a>
                            }
                        </div>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <div class="dropdown category-dropdown" data-visible="true">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                                Tất Cả Danh Mục
                            </a>

                            <div class="dropdown-menu">
                                <nav class="side-nav">
                                    <ul class="menu-vertical sf-arrows">
                                        @Html.Action("CategoryMenuLayout", "Home")
                                    </ul><!-- End .menu-vertical -->
                                </nav><!-- End .side-nav -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .category-dropdown -->
                    </div><!-- End .col-lg-3 -->
                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="active">
                                    <a href="#">Trang Chủ</a>
                                </li>
                                <li>
                                    <a href="#">Sản Phẩm</a>
                                </li>
                                <li>
                                    <a href="#">Giới thiệu</a>
                                </li>
                                <li>
                                    <a href="#">Liên Hệ</a>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .col-lg-9 -->
                    <div class="header-right">
                        <i class="la la-lightbulb-o"></i><p>Giảm giá lên đến 30%</p>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        <main class="main">
            @RenderBody()
        </main>

        <footer class="footer footer-2">
            <div class="icon-boxes-container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="icon-rocket"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Miễn phí ship</h3><!-- End .icon-box-title -->
                                    <p>Miễn phí giao hàng toàn quốc</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="icon-rotate-left"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Miễn phí hoàn trả</h3><!-- End .icon-box-title -->
                                    <p>Trong vòng 30 ngày</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="icon-info-circle"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Ưu đãi lớn</h3><!-- End .icon-box-title -->
                                    <p>Giảm giá lên đến 30%</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon">
                                    <i class="icon-life-ring"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Dịch vụ tuyệt vời</h3><!-- End .icon-box-title -->
                                    <p>Phục vụ 24/7</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .icon-boxes-container -->

            <div class="footer-middle border-0 pt-4">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 mb-3">
                            <img class="mb-2" src="~/assets/images/demos/demo-13/logo.png" alt="Footer Logo" width="110">
                            <p>Đem lại cho Quý khách sản phẩm nội thất tốt nhất. Chúng tôi đang ngày càng hoàn thiện sản phẩm và dịch vụ của mình nhằm không ngừng đáp ứng sự tin tưởng và niềm tin của khách hàng.</p>

                            <div class="widget-about-info">
                                <span class="widget-about-title">Bạn có câu hỏi? Hãy gọi cho chúng tôi</span>
                                <a href="tel:#">0388172633</a>
                            </div><!-- End .widget-about-info -->
                        </div><!-- End .col-sm-12 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3 mb-3">
                            <h4 class="widget-title mb-1">Chăm Sóc Khách Hàng</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="faq.html">Trung Tâm Trợ Giúp</a></li>
                                <li><a href="about.html">Hướng Dẫn Mua Hàng</a></li>
                                <li><a href="#">Hướng Dẫn Bán Hàng</a></li>
                                <li><a href="#">Thanh Toán</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3 mb-3">
                            <h4 class="widget-title mb-1">Về Chúng Tôi</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="faq.html">Hệ Thống Cửa Hàng</a></li>
                                <li><a href="about.html">Giới Thiệu</a></li>
                                <li><a href="#">Liên Hệ</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .col-sm-4 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © @DateTime.Now.Year NStore. All Rights Reserved.</p><!-- End .footer-copyright -->

                    <div class="social-icons social-icons-color">
                        <span class="social-label">Mạng xã hội</span>
                        <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                        <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                        <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Tìm kiếm sản phẩm..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Danh mục</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                    <nav class="mobile-cats-nav">
                        <ul class="mobile-cats-menu">
                            <li class="active"><a href="#">Trang Chủ</a></li>
                            <li><a href="#">Sản Phẩm</a></li>
                            <li><a href="#">Giới Thiệu</a></li>
                            <li><a href="#">Liên Hệ</a></li>
                        </ul><!-- End .mobile-cats-menu -->
                    </nav><!-- End .mobile-cats-nav -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            @Html.Action("CategoryMenuMobileLayout", "Home")
                        </ul>
                    </nav><!-- End .mobile-nav -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->
    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="true">Đăng Nhập</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="false">Đăng Ký</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
                                    @using (Html.BeginForm("Index", "Login"))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <label for="signin-username-2">Tài khoản *</label>
                                            <input type="text" class="form-control" id="signin-username-2" name="taiKhoan" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="signin-pass-2">Mật khẩu *</label>
                                            <input type="password" class="form-control" id="signin-pass-2" name="matKhau" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer mb-0">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>Đăng Nhập</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember-2" name="signinRemember" />
                                                <label class="custom-control-label" for="signin-remember-2">Nhớ mật khẩu</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    }
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
                                    @using (Html.BeginForm("Register", "Login"))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <label for="register-name-2">Họ tên *</label>
                                            <input type="text" class="form-control" id="register-name-2" name="hoTen" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-email-2">Email *</label>
                                            <input type="email" class="form-control" id="register-email-2" name="email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-phone-number-2">Số điện thoại *</label>
                                            <input type="text" class="form-control" id="register-phone-number-2" name="soDienThoai" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-username-2">Tài khoản *</label>
                                            <input type="text" class="form-control" id="register-username-2" name="taiKhoan" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-pass-2">Mật khẩu *</label>
                                            <input type="password" class="form-control" id="register-pass-2" name="matKhau" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="retype-password-2">Nhập lại mật khẩu *</label>
                                            <input type="password" class="form-control" id="retype-password-2" name="retypePass" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer mb-0">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>Đăng Ký</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </div><!-- End .form-footer -->
                                    }
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->
    <!-- Plugins JS File -->

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="~/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/superfish.min.js"></script>
    <script src="~/assets/js/jquery.plugin.min.js"></script>

    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.countdown.min.js"></script>
    <script src="~/assets/js/bootstrap-input-spinner.js"></script>
    <script src="~/assets/js/jquery.elevateZoom.min.js"></script>
    <!-- Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/demo-13.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
