@model NStore.Models.EF.PhieuNhap

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Bạn có chắc muốn xóa phiếu nhập?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ngayNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaCungCap.tenNhaCungCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaCungCap.tenNhaCungCap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.taiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.taiKhoan)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
